<!DOCTYPE html>
<html xmlnx:th="hhtp://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<header th:replace="layout/layout::header"></header>

	<div class="container">

		<div class="card bg-lingth mt-4">
			<div class="card-header">
				<h4 th:text="${titulo}"></h4>
			</div>

			<div class="card-body">

				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${cliente}" method="post">
					<div class="form-group row">
						<label class="col-1 col-form-label">Nombre</label>
						<div class="col-6">
							<input type="text" th:field="*{nombre}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-1 col-form-label">Apellido</label>
						<div class="col-6">
							<input type="text" th:field="*{apellido}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-1 col-form-label">Email</label>
						<div class="col-6">
							<input type="text" th:field="*{email}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-1 col-form-label">Fecha</label>
						<div class="col-6">
							<input type="text" th:field="*{createAt}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>

					<div class="form-gorup row">
						<div class="col-2">
							<input type="submit" value="Crear" class="btn btn-primary" />
						</div>
						<div class="col-2">
							<a class="btn btn-primary" th:href="@{/listar}">Atras</a>
						</div>
					</div>
					<!--  <input type="hidden" th:field="*{id}" /> -->
				</form>
			</div>
		</div>
	</div>



	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>