<!DOCTYPE html>
<html xmlnx:th="hhtp://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>

	<header th:replace="layout/layout::header"></header>

	<div class="container">
		<div class="card bg-lingth mt-5">
			<div class="card-header">
				<h4 th:text="${titulo}"></h4>
			</div>
			<h5 class="card-title mt-4 ml-4">
				<a class="btn btn-success btn-xs" th:href="@{/form}">Alta
					Cliente</a>
			</h5>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<td scope="col">Id</td>
							<td scope="col">Nombre</td>
							<td scope="col">Apellido</td>
							<td scope="col">Email</td>
							<td scope="col">Fecha</td>
							<td scope="col">Editar</td>
							<td scope="col">Eliminar</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.apellido}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${cliente.id}">Editar</a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${cliente.id}"
								onclick="return confirm('Estas seguro que quieres eliminar?')">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>